<img src="../../../assets/login-bg.png" class="bg" />

<mat-card class="card">
  <mat-icon>polymer</mat-icon>
  <h1>Atelier</h1>
  <h2>Su Mesura, Inc.</h2>
  <mat-form-field appearance="outline" style="width: 100%">
    <mat-label>Email</mat-label>
    <input matInput />
  </mat-form-field>

  <mat-form-field appearance="outline" style="width: 100%">
    <mat-label>Password</mat-label>
    <input matInput type='password' />
  </mat-form-field>

  <mat-checkbox>Remember me</mat-checkbox>

  <button mat-raised-button color="primary" routerLink='/estimates'>Login</button>
</mat-card>
