<mat-toolbar color="primary">
  <button mat-icon-button>
    <mat-icon>polymer</mat-icon>
  </button>
  <div style="margin: -5px auto 0px 15px">
    <span>Atelier</span>
    <span
      style="display: block; font-size: 15px; line-height: 0.5; opacity: 0.5"
    >
      Su Mesura, Inc.
    </span>
  </div>

  <span class="spacer"></span>
  <mat-icon>person</mat-icon>
  <div style="width: 170px; margin-top: -5px" routerLink="/login">
    <label style="margin-left: 10px; font-size: 16px">User 3</label>
    <span
      style="
        display: block;
        margin-left: 10px;
        font-size: 14px;
        line-height: 0.5;
        opacity: 0.5;
      "
    >
      Staff
    </span>
  </div>
  <mat-icon>expand_more</mat-icon>
</mat-toolbar>
